/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus {
	outline: none;
}
.slides, .flex-control-nav, .flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}
/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {
	margin: 0;
	padding: 0;
}
.flexslider .slides > li {
	display: none;
	-webkit-backface-visibility: hidden;
} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
	display: block;
}
.flex-pauseplay span {
	text-transform: capitalize;
}
/* Clearfix for the .slides element */
.slides:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
html[xmlns] .slides {
	display: block;
}
* html .slides {
	height: 1%;
}
/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
	display: block;
}
/* FlexSlider Default Theme
*********************************/
.flexslider {
	margin: 0 0 15px;
	position: relative;
	zoom: 1;
}
.flex-viewport {
	max-height: 2000px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}
.loading .flex-viewport {
	max-height: 300px;
}
.flexslider .slides {
	zoom: 1;
}
.carousel li {
	margin-right: 5px
}
/* Direction Nav */
.flex-direction-nav {
*height: 0;
	display: none;
}
.flex-direction-nav a {
	width: 50px;
	height: 50px;
	margin: -25px 0 0;
	display: block;
	background: url(../images/slider/nivo-nav.png) no-repeat 0 0 rgba(0,0,0,.5);
	position: absolute;
	top: 50%;
	cursor: pointer;
	text-indent: -9999px;
	-webkit-transition: all .3s ease;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}
.flex-direction-nav .flex-next {
	background-position: -85px 10px;
	right: 0;
}
.flex-direction-nav .flex-prev {
	background-position: 15px 10px;
	left: 0;
}
.flexslider:hover a:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}
.flexslider:hover .flex-next, .flexslider:hover .flex-prev {
	opacity: .5;
	filter: alpha(opacity=50);
}
.flex-direction-nav .flex-disabled {
	opacity: .3 !important;
	filter: alpha(opacity=30);
	cursor: default;
}
/* Control Nav */
.flex-control-nav {
	width: 100%;
	position: absolute;
	bottom: -40px;
	text-align: center;
	display: none;
}
.flex-control-nav li {
	margin: 0 6px;
	display: inline-block;
	zoom: 1;
*display: inline;
}
.flex-control-paging li a {
	width: 11px;
	height: 11px;
	display: block;
	background: #666;
	background: rgba(0,0,0,0.5);
	cursor: pointer;
	text-indent: -9999px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}
.flex-control-paging li a:hover {
	background: #333;
	background: rgba(0,0,0,0.7);
}
.flex-control-paging li a.flex-active {
	background: #000;
	background: rgba(0,0,0,0.9);
	cursor: default;
}
.flex-control-thumbs {
	margin: 5px 0 0;
	position: static;
	overflow: hidden;
}
.flex-control-thumbs li {
	width: 25%;
	float: left;
	margin: 0;
}
.flex-control-thumbs img {
	width: 100%;
	display: block;
	opacity: .7;
	filter: alpha(opacity=70);
	cursor: pointer;
}
.flex-control-thumbs img:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}
.flex-control-thumbs .flex-active {
	opacity: 1;
	filter: alpha(opacity=100);
	cursor: default;
}
 @media screen and (max-width: 860px) {
.flex-direction-nav .flex-prev {
	opacity: 1;
	filter: alpha(opacity=100);
	left: 0;
}
.flex-direction-nav .flex-next {
	opacity: 1;
	filter: alpha(opacity=100);
	right: 0;
}
}
#testimonial-slider-1 {
	padding-bottom: 36px;
}
#testimonial-slider-2 {
	background-color: #f2f2f2;
	padding: 10px 10px 15px;
	border-left: 3px solid #aeaeae;
}
#testimonial-slider-1 ul li blockquote {
	border-bottom: 1px solid #d0d0d0;
}
.testimonial-author {
	margin: -36px 0 0;
	background: #fff;
	float: right;
	width: 190px
}
.testimonial-author img {
	float: left;
	width: 62px;
	height: 62px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	display: block;
	border: 5px solid #d0d0d0;
	margin-right: 10px;
	position: relative;
	z-index: 0;
}
.testimonial-author strong {
	color: #373737;
	display: inline-block;
 	*display:inline;
	zoom: 1;
	margin-top: 15px;
}
.testimonial-author a {
	display: inline-block;
 	*display:inline;
	zoom: 1;
	font-size: 11px;
	color: #969696;
	margin: -5px 0 0;
}
#testimonial-slider-2 blockquote {
	margin: 0;
}
#testimonial-slider-2 .testimonial-author {
	background: none;
	width: auto;
	margin: 0;
}
#testimonial-slider-2 .testimonial-author strong {
	display: block;
	margin-top: 0;
}
#testimonial-slider-1 blockquote {
	border-left: none;
	margin: 0;
	padding: 0 0 45px;
}
#testimonial-slider-2 blockquote {
	border-left: none;
	margin: 0;
	padding: 0;
}
#testimonial-slider-1 blockquote .icon-quote-left {
	margin-right: 10px;
}
/* Portfolio */
.pf-detail-item .pf-slider-wrapper {
	float: left;
	margin: 0 30px 0 0;
	width: 580px;
hans: 580px;
	padding: 10px;
	position: relative;
}
.pf-slider-wrapper .flexslider {
	margin: 0;
}
.pf-slider-wrapper .flex-direction-nav, #bp-flex .flex-direction-nav {
	display: block;
}
#home-flex-slider .flex-control-thumbs {
	display: block;
	margin: -30px 0 0;
	z-index: 1;
}
#home-flex-slider .flex-control-thumbs li {
	width: 95px;
	position: relative;
	z-index: 1;
	border-top: 5px solid #fff;
	border-bottom: 5px solid #fff;
	border-left: 5px solid #fff;
	float: none;
	display: inline-block;
 	*display:inline;
	zoom: 1;
	background-color: #fff;
}
#home-flex-slider .flex-control-thumbs li:last-child {
	border-right: 5px solid #fff;
	border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
}
#home-flex-slider .flex-control-thumbs li:first-child {
	border-radius: 5px 0px 0px 5px;
	-moz-border-radius: 5px 0px 0px 5px;
	-webkit-border-radius: 5px 0px 0px 5px;
}
.flex-control-thumbs img {
	opacity: 0.3;
	filter: alpha(opacity=100);
}
#home-flex-slider .flex-direction-nav {
	display: block;
}

.flx-entry-thumb .flex-direction-nav a,
#pf-flex .flex-direction-nav a {
	margin:-25px 0 0 !important;
}
#home-flex-slider .flex-direction-nav a {
	margin:-50px 0 0;
}
