/*Sliding Text and Icon Menu Style*/
.sti-menu{
	position:relative;
	margin:0 auto 60px;
}
.sti-menu li{
	float:left;
	height:330px;
	list-style:none;
	-webkit-transition: border .3s ease-in-out;
	-moz-transition: border .3s ease-in-out;
	-ms-transition: border .3s ease-in-out;
	-o-transition: border .3s ease-in-out;
	transition: border .3s ease-in-out;
}
.sti-menu li a{
	display:block;
	overflow:hidden;
	background:#fff;
	text-align:center;
	height:100%;
	width:100%;
	position:relative;
	z-index:0;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border:1px solid #fff;
}
.sti-menu li:hover a {
	background:#f0f0f0;
}
.sti-menu li a h2{
	color: #7aa200;
	font-family: 'Source Sans Pro',sans-serif; 
	font-size: 20px;
	font-weight: 300;
	position:absolute;
	top:225px;
	left:0px;
    display: block;
	text-align:center;
	width:100%;
}
.home-page.home-style-3 .sti-menu li:hover a h2 {
	color:#363636;
}
.sti-menu li a p{
	position:absolute;
	top:270px;
	left:0px;
	color:#404040 !important;
	font-size:14px;
	line-height:20px;
}
.sti-icon{
	width:100px;
	height:100px;
	position:absolute;
	background-position:top left;
	background-repeat:no-repeat;
	background-color:transparent;
	left:37px;
	top:40px;
}
.sti-icon-care{
	width:120px;
	height:120px;
	border:13px solid #7aa200;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	-webkit-transition: border .3s ease-in-out;
	-moz-transition: border .3s ease-in-out;
	-ms-transition: border .3s ease-in-out;
	-o-transition: border .3s ease-in-out;
	transition: border .3s ease-in-out;
}
.sti-menu li:hover .sti-icon-care {
	border:13px solid #363636;
}
.sti-icon-alternative{
	background-image:url(../images/alternative.png);
}
.sti-icon-family{
	background-image:url(../images/family.png);
}
.sti-icon-info{
	background-image:url(../images/info.png);
}
.sti-icon-technology{
	background-image:url(../images/technology.png);
}

.polygon-arrow {
	display:block;
	position:absolute;
	bottom:-24px;
	left:50%;
	margin-left:-14px;	
	width: 0; 
	height: 0; 
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;	
	border-top: 16px solid #7aa200;
	
	
	-webkit-transition: border .3s ease-in-out;
	-moz-transition: border .3s ease-in-out;
	-ms-transition: border .3s ease-in-out;
	-o-transition: border .3s ease-in-out;
	transition: border .3s ease-in-out;
}
.sti-menu li:hover .polygon-arrow {
	border-top: 16px solid #363636;
}

.sti-menu li i {
	color:#363636 !important;
}

/*===== CUSTOMFOR HOME3=====*/
.home-style-3 .sti-menu { margin-top:-30px; z-index:999}
.home-style-3 .sti-menu li a,
.home-style-3 .sti-menu li:hover a {
	background:none;
	border:none;
}
.home-style-3 .sti-icon-care { 
	background:#FFF;
	-webkit-box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, .75);
	-moz-box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, .75);
	box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, .75); 
}
