
/* =========================================================
******************Common styles*****************************
============================================================ */
body {
	color: #555555;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	background: #ffffff;
}
html,body,div,span,h1,h2,h3,h4,h5,h6,p,blockquote,a,img,small,sub,b,dl,dd,dt,ul,li,label,article,details,footer,header,menu,nav,input,textarea,select{
		background:transparent;
		border:0;
		outline:0;
		padding:0;
		margin:0;
}
pre, code {
	font-family: 'DejaVu Sans Mono', Menlo, Consolas, monospace;
}
hr {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-main-content-innerors: none;
	-moz-border-top-colors: none;
	border-color: #d9d9d9;
	border-style: solid;
	border-width: 1px 0 0;
	clear: both;
	height: 0;
	margin-bottom: 15px;
	margin-top: 5px;
}
ol {
	list-style: decimal outside none;
}
a {
	-webkit-transition: color .3s ease-in-out;
	-moz-transition: color .3s ease-in-out;
	-ms-transition: color .3s ease-in-out;
	-o-transition: color .3s ease-in-out;
	transition: color .3s ease-in-out;
}
a:hover {
	text-decoration: none;
}
ul {
	list-style: disc outside none;
}
.flx-intro-excerpt {
	color: #404040;
}
/*------Responsive Image----------------*/
.responsive-img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}
::selection {
	background: #7aa200; /* Safari */
	color: #FFF;
}
::-moz-selection {
 background: #7aa200; /* Firefox */
 color:#FFF;
}
/* =========================================================
**************************Heading***************************
============================================================ */
h1 {
	color: #7aa200;
	font: 300 35px/37px 'Source Sans Pro', sans-serif;
	letter-spacing: 0;
	margin-bottom: 20px;
}
h2 {
	color: #7aa200;
	font: 300 30px/32px 'Source Sans Pro', sans-serif;
	letter-spacing: 0;
	margin-bottom: 20px;
}
h3 {
	color: #7aa200;
	font: 300 25px/27px 'Source Sans Pro', sans-serif;
	letter-spacing: 0;
	margin-bottom: 20px;
}
h4 {
	color: #7aa200;
	font: 300 20px/22px 'Source Sans Pro', sans-serif;
	letter-spacing: 0;
	margin-bottom: 20px;
}
h5 {
	color: #7aa200;
	font: 300 17px/20px 'Source Sans Pro', sans-serif;
	letter-spacing: 0;
	margin-bottom: 20px;
}
h6 {
	color: #7aa200;
	font: 300 15px/18px 'Source Sans Pro', sans-serif;
	letter-spacing: 0;
	margin-bottom: 20px;
}
p {
	margin-bottom: 10px;
	line-height: 18px;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color:#7aa200;}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
	color:#3d3d3d;}	
/* =========================================================
********************Clear Floated Elements******************
============================================================ */
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clearfix:before, .clearfix:after {
	content: '.';
	display: block;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	zoom: 1;
}
.hover-effect {
	cursor: pointer;
	z-index: 100;
}
#main-content .tabs {
    margin-bottom: 40px;
}
#pf-detail-box #pf-list-flex audio {
    width: 100%;
}
.not-front .pf-content p,.not-front .pf-content h3 {
    color: #7aa200;
}
.not-front .pf-detail-item {
    margin-bottom: 50px;
}
/*==========================================================
******************* CSS3 transition ************************
============================================================ */
.flx-services li [class^="icon-"], 
.flx-services li [class*="icon-"]{
	font-style: normal;
	font-weight: normal;
	display: inline-block;
}
#main-menu li a, .tabs label,
.list-container-2 ul li a,		
.accordion-title,
.accordion-title h5 a, #toggle-view li,
.flx-services li [class^="icon-"],
.flx-services li [class*="icon-"],
.list-container-3 ul li a,
.flx-tag,
.tagcloud a,
.under-struction .socials a,
#options #etc li a i,
.w-style2.twitter-widget .tweet_list li,
.w-style3.twitter-widget .tweet_list li,
.w-style4.twitter-widget .tweet_list li,
.w-style5.twitter-widget .tweet_list li,
.w-style2 #recentcomments li,
.w-style3 #recentcomments li,
.w-style4 #recentcomments li,
.w-style5 #recentcomments li,
.widget_recent_entries ul li,
.w-style5.widget_recent_entries ul li,
.w-style4.widget_recent_entries ul li,
.w-style3.widget_recent_entries ul li,
.w-style2.widget_recent_entries ul li,
.w-style5.widget_rss ul li,
.w-style4.widget_rss ul li,
.w-style3.widget_rss ul li,
.w-style2.widget_rss ul li {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.sti-menu li a {
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}
.list-container-1 ul li a,
#main-menu li ul li,
.list-container-4 ul li a,
.flx-menu-toggle,
#m-theme-option .m-open-close-button {
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	-ms-transition: background .3s ease-in-out;
	-o-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}
/* =========================================================
***************************Columns**************************
============================================================ */
.flx-one-forth {
	float: left;
	margin-right: 2%;
	width: 23.5%;
	margin-bottom: 20px;
}
.flx-three-forth {
	float: left;
	margin-right: 2%;
	width: 74.5%;
	margin-bottom: 20px;
}
.flx-one-two {
	float: left;
	margin-right: 2%;
	width: 49%;
	margin-bottom: 20px;
}
.flx-one-third {
	float: left;
	margin-right: 2%;
	width: 32%;
	margin-bottom: 20px;
}
.flx-two-third {
	float: left;
	margin-right: 2%;
	width: 66%;
	margin-bottom: 20px;
}
.flx-full-width {
	width: 100%;
	margin-bottom: 20px;
}
.last {
	margin-right: 0 !important;
}
.wrapper {
	width: 1030px; /* 980px;*/
	margin: 0 auto;
}
.flx-mb-30 {
	margin-bottom: 30px;
}
.flx-mt-60 {
	margin-top:60px;
}
.flx-wrapper {
    background-color: #FFFFFF;
    position: relative;
    z-index: 1;
}
/* =========================================================
***********************Header*******************************
============================================================ */
#flx-header {
	background-color: #f2f2f2;
	border-bottom: 1px solid #d9d9d9;
	border-top: 8px solid #7aa200;
}
#flx-logo {
	float: left;
	margin-top: 5px;
}
.tophead #flx-logo {
	margin-top: 0;
}
#main-nav {
	float: right;
	position: relative;
	z-index: 9999
}
#main-menu {
	margin: -8px 0 0;
	position: relative;
	z-index: 1000;
}
#main-menu > li {
	list-style: none;
	float: left;
	margin: 0;
	border-top: 8px solid #7aa200;
	position: relative;
}
#main-menu > li.active {
	background-color: #414141;
	border-top: 8px solid #202020;
}
#main-menu > li > a {
	display: block;
	padding: 17px 15px 20px;
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
	border-right: 1px solid #d9d9d9;
	border-left: 1px solid #ffffff;
	border-top: 1px solid rgba(255, 255, 255,.2);
	text-shadow: 0px 1px 0px #FFFFFF;
}
#main-menu > li:hover > a {
	position:relative;
	z-index:0;
	color: #7aa200;
	text-decoration: none;
}
#main-menu > li:last-child > a {
	border-right: none;
}
#main-menu > li:first-child > a {
	border-left: none;
}
#main-menu > li.active > a,
#main-menu > li.active > a:hover {
	color: #fff;
	border: none;
	border-top: 1px solid rgba(255, 255, 255,.2);
	text-shadow: 0px 1px 0px #111111;
	background-image: linear-gradient(bottom, rgb(34,34,34) 0%, rgb(51,51,51) 60%);
	background-image: -o-linear-gradient(bottom, rgb(34,34,34) 0%, rgb(51,51,51) 60%);
	background-image: -moz-linear-gradient(bottom, rgb(34,34,34) 0%, rgb(51,51,51) 60%);
	background-image: -webkit-linear-gradient(bottom, rgb(34,34,34) 0%, rgb(51,51,51) 60%);
	background-image: -ms-linear-gradient(bottom, rgb(34,34,34) 0%, rgb(51,51,51) 60%);
	background-image: -webkit-gradient(  linear,  left bottom,  left top,  color-stop(0, rgb(34,34,34)),  color-stop(0.6, rgb(51,51,51))  );
	padding: 17px 15px 21px;
	margin-bottom:-1px;
}
#main-menu > li [class^="icon-"] {
	vertical-align: -10%;
}
.header-title {
	width:100%;
	background:url(../images/background/bg-header.jpg) top left no-repeat;
	background-size:cover;
	margin:-1px 0 30px 0;
	-webkit-box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, .1);
	-moz-box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, .1);
    box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, .1);
	position:relative;
	z-index:0;
}
.header-title .header-title-inner {
	position:relative;
	height:150px;
}	
.header-title .page-title {
	float:left;
	position:absolute;
	top:35px;
	left:0;
	padding:0 30px 0 10px;
	background:rgba(0, 0, 0, .5);
	border-left:5px solid #FFF;
}
.header-title .page-title h3,
.header-title .page-title h6 {
	color:#FFF;
}
.header-title .page-title h3 {
	margin-bottom:10px;
/*	text-transform:uppercase; */
	font-weight:bold;
	text-shadow:0 1px 0 rgba(0,0,0,.8)
}
.header-title .page-title a:hover {
	border-bottom:1px dotted #FFF;
	color:#FFF;
}	
.header-title .breadcrumb {
	width:100%;
	border-bottom:1px solid #d8d8d8;
	line-height:40px;
	padding:0;
	color:#CCC;
	background:#f2f2f2;
	border-radius:0;
}
.header-title .breadcrumb a {
	margin:0 10px;
	color:#7aa200;
}
.header-title .breadcrumb a i {
	margin-right:5px;
}	
.header-title .breadcrumb a:hover {
	color:#4d4d4d;
}	
.header-title .breadcrumb span {
	margin-left:10px;
	color:#666;
}
/*--- header style 2 ---*/
#flx-header.head-s2 {
	background-color: #FFF;
	border:none;
}
#flx-header.head-s2 #main-nav {
	position:relative;
	z-index: 9999;
	width:100%;
	float:none;
	background: #FFF;
	border-bottom: 1px solid #d9d9d9;
	border-top: 8px solid #d0d0d0;
}
#flx-header.head-s2 .tophead {
	padding:15px 0;
}
#flx-header.head-s2 #main-menu {
	margin: -8px auto 0 auto;
	position: relative;
	z-index: 9999;
	float:left;
}
#flx-header.head-s2 #main-menu > li > ul {
	top:57px;
}
#flx-header.head-s2 #main-menu > li {
	border-top: 8px solid #d0d0d0;
}
#flx-header.head-s2 #main-menu > li a {
	border-top:none;
	border-left:none;
}
#flx-header.head-s2 #main-menu > li:hover a {
	box-shadow:none;
	text-shadow:none;
}
#flx-header.head-s2 #main-menu > li.active {
	border-top:8px solid #cb1b00;
}	
#flx-header.head-s2 #main-menu > li.active > a,
#flx-header.head-s2 #main-menu > li.active > a:hover {
	background:#ff2600;
	text-shadow:none;
}
#flx-header.head-s2 #main-menu li > ul {
	background:#FFF;
}
#flx-header.head-s2 #main-menu li ul a {
	border-top:none;
}
#flx-header.head-s2 .search-query {
	float:right;
	margin:13px 0 0 0;
	width:120px;
	background:url(../images/icons/search-icon-top.png) top right no-repeat;
	background-position:125px 6px;
	font-size:12px;
}
/*--- header style 3 ---*/
#flx-header.head-s3 {
	background-color: #FFF;
	border:none;
}
#flx-header.head-s3 .tophead {
	padding:15px 0;
}
#flx-header.head-s3 #main-nav {
	position:relative;
	z-index: 9999;
	width:100%;
	float:none;
	background: #FFF;
	border-bottom: 1px solid #d9d9d9;
	border-top: 8px solid #7aa200;
}
#flx-header.head-s3 #main-menu {
	margin: -8px auto 0 auto;
	position: relative;
	z-index: 9999;
	float:left;
}
#flx-header.head-s3 #main-menu > ul {
	top:58px;
}
#flx-header.head-s3 .search-query {
	float:right;
	margin:13px 0 0 0;
	width:120px;
	background:url(../images/icons/search-icon-top.png) top right no-repeat;
	background-position:125px 6px;
	font-size:12px;
}
/*--- header style 4 ---*/
#flx-header.head-s4 {
    background-color: #fff;
    border:none;
	padding:10px 0 20px 0;
}
#flx-header.head-s4 #main-menu {
	margin:10px 0 0;
}
#flx-header.head-s4 #main-menu > li {
	border-top:none;
	border-radius:30px;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	position:relative;
	z-index:0;
}
#flx-header.head-s4 #main-menu > li > a {
	border:none;
	padding:8px 15px 10px;
	text-shadow:none;
	border-radius:30px;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	position:relative;
	z-index:0;
}
#flx-header.head-s4 #main-menu > li.active {
	background-color:#7aa200;
}
#flx-header.head-s4 #main-menu > li.active > a, 
#flx-header.head-s4 #main-menu > li.active > a:hover {
	background-image:none;
	text-shadow:none;
	background-color:#7aa200;
}
/*--------Sub Menu-------------*/
#main-menu li ul {
	display: none;
	margin: 0;
	position: absolute;
	top: 58px;
	left: -1px;
	width: 188px;
	border: 1px solid #d9d9d9;
	background-color: #f2f2f2;
}
#main-menu li ul li {
	list-style: none;
	margin: 0;
	border-top: 1px solid #fafafa;
	border-bottom: 1px solid #dedede;
	position: relative;
	padding: 0 10px 0 15px;
}
#main-menu li ul li:last-child {
	border-bottom: none;
}
#main-menu li ul li:hover,
#main-menu li ul li.active {
	background-color: #fff;
}
#main-menu li ul li a {
	color: #3f3f3f;
	font-size: 12px;
	display: block;
	padding: 10px 0;
}
#main-menu > li > ul > li:hover > a,
#main-menu > li > ul > li.active > a {
	color: #7aa200;
}
#main-menu li ul li.menu-arrow > a {
	background: url(../images/background/menu-arrow.png) no-repeat right center;
}
#main-menu li ul li ul {
	position: absolute;
	top: -2px;
	left: 188px;
}
#main-menu li ul li ul li:hover a,
#main-menu li ul li ul li.active a {
	color: #7aa200;
}

#flx-header.head-s4 #main-menu li > ul {
	top:39px;
	padding-top:20px;
	border:none;
	background:none;
}
#flx-header.head-s4 #main-menu li > ul > li {
	background-color:#f2f2f2;
	border-bottom:1px solid #d9d9d9;
	border-left:1px solid #d9d9d9;
	border-right:1px solid #d9d9d9;
	border-top:1px solid #fff;
}
#flx-header.head-s4 #main-menu li > ul > li > a {
	padding:9px 0 10px;
}
#flx-header.head-s4 #main-menu li > ul > li:first-child {
	border-top:1px solid #d9d9d9;
}
#flx-header.head-s4 #main-menu li > ul > li:hover {
	background-color:#fff;
} 
#flx-header.head-s4 #main-menu li > ul > li > ul {
	top:-2px;
	padding-top:0;
	left:186px;
}

/*------------------Mobile Menu---------------------*/
#mobile-menu{
    margin: 10px !important;          
    border: 1px solid #545454 !important;
	color:#FFF;
	font-size:12px;
	background-color:#262626;
	border-radius:0;
	padding:5px 0;    
}

/* =========================================================
***********************Main content*************************
============================================================ */
#flx-main-content {
	width: 980px;
	float: 10px;
	background: #FFF;
}
.main-content {
	padding-bottom: 80px;
}
.flx-intro {
	text-align: center;
	padding: 20px 0;
	display: block;
	border-bottom: 1px dotted #d9d9d9;
	margin-bottom: 20px;
	position: relative;
	z-index: 1;
}
.flx-intro i {
	position: absolute;
	bottom: -12px;
	z-index: 2;
	background-color: #fff;
	padding: 0 10px;
}
.flx-intro-2 {
	text-align: center;
	padding: 20px 0;
	display: block;
	position: relative;
	z-index: 1;
}
.flx-intro-3 {
	text-align: center;
	display: block;
	position: relative;
	z-index: 1;
}
.flx-intro-3 .flx-intro-excerpt {
	font-size:14px;
	display:inline-block;
	*display:inline;
	zoom:1;
	width:60%;
	margin-top:0;
}


.acc-wrapper {
	margin-bottom: 15px;
}
/************Button**************/
.flx-button-box {
	margin-bottom: 40px;
}
.flx-button-box .flx-button {
	margin-right: 55px;
}
.flx-button {
	display: inline-block;
	*display:inline;
	zoom:1;
	padding: 10px;
	font-size: 14px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	position:relative;
	z-index:0;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.flx-button.medium {
	font-size:20px;
	padding:15px;
	font-weight:300;
}

.flx-button.large {
	font-size:25px;
	padding:20px;
	font-weight:300;
}
	
.flx-orange-button, .flx-black-button:hover {
	background-color: #7aa200;
	color: #fff;
	box-shadow: 0 1px 0 #d74700;
	-moz-box-shadow: 0 1px 0 #d74700;
	-webkit-box-shadow: 0 1px 0 #d74700;
	position:relative;
	z-index:0;
}
.flx-gray-button {
	background-color: #b5b5b5;
	color: #FFF;
	box-shadow: 0 1px 0 #9a9a9a;
	-moz-box-shadow: 0 1px 0 #9a9a9a;
	-webkit-box-shadow: 0 1px 0 #9a9a9a;
	position:relative;
	z-index:0;
}
.flx-green-button {
	background-color: #31aa3a;
	color: #fff;
	box-shadow: 0 1px 0 #0d7414;
	-moz-box-shadow: 0 1px 0 #0d7414;
	-webkit-box-shadow: 0 1px 0 #0d7414;
	position:relative;
	z-index:0;
}
.flx-red-button {
	background-color: #e6001c;
	color: #fff;
	box-shadow: 0 1px 0 #980013;
	-moz-box-shadow: 0 1px 0 #980013;
	-webkit-box-shadow: 0 1px 0 #980013;
	position:relative;
	z-index:0;
}
.flx-blue-button {
	background-color: #005cae;
	color: #fff;
	box-shadow: 0 1px 0 #002c53;
	-moz-box-shadow: 0 1px 0 #002c53;
	-webkit-box-shadow: 0 1px 0 #002c53;
	position:relative;
	z-index:0;
}
.flx-black-button, .flx-orange-button:hover, .flx-gray-button:hover, .flx-green-button:hover, .flx-red-button:hover, .flx-blue-button:hover {
	background-color: #2c2c2c;
	color: #c7c7c7;
	box-shadow: 0 1px 0 #060606;
	-moz-box-shadow: 0 1px 0 #060606;
	-webkit-box-shadow: 0 1px 0 #060606;
	position:relative;
	z-index:0;
}
/*-------------Toggle Boxes-----------*/
#toggle-view {
	list-style: none;
	margin: 0;
	padding: 0;
	background-color: #f2f2f2;
	border: 1px solid #ddd;
	border-top: none;
}
#toggle-view p {
	margin-bottom: 0;
}
#toggle-view li {
	margin: 0;
	border-top: 1px solid #ddd;
	position: relative;
	cursor: pointer;
	list-style: none;
}
#toggle-view li:hover {
	background: #FFF;
}
#toggle-view h3 {
	font-size: 14px;
	margin: 0;
	color: #3d3d3d;
	font-family: 'Open Sans', sans-serif;
	float: left;
	line-height: 40px;
	padding: 0 15px;
	font-weight: normal;
}
#toggle-view h3:hover {
	color: #7aa200;
}
#toggle-view span {
	float: left;
	color: #333;
	font-size: 26px;
	width: 40px;
	height: 40px;
	font-weight: bold;
	text-align: center;
	color: #7aa200;
	line-height: 40px;
	border-right: 1px solid #ddd;
}
#toggle-view .panel {
	margin: 0px 0px 0px 40px;
	display: none;
	padding: 0 15px 0 15px;
	border-left: 1px solid #ddd;
	font-size: 13px;
	color: #4d4d4d;
}
#toggle-view .panel p {
	margin: 5px 0 30px;
}
/*-------------Mobile Menu-----------*/
#mobile-menu-bar {
	width:100%;
	position:relative;
	z-index:99999;
}
.menu-bar-fixed {
	position:fixed !important;
	top:0;
}
.flx-mobile-menu {
	position:relative;
	width:100%;
	display:none;
	background-color:#000;
	z-index:99999;
}
#toggle-view-menu {
	display:none;
	list-style: none;
	margin: 0;
	padding: 0;	
	border-top: none;
	position:absolute;
	top:50px;
	left:0;
	z-index:99999;
	width:100%;
}
#toggle-view-menu > li {
	border-bottom:1px solid #111;
	border-top:1px solid #444;
	margin: 0;
	position: relative;
	cursor: pointer;
	list-style: none;
	background-color:#333;
}
.flx-menu-toggle {
	position:relative;
	cursor:pointer;
	display:inline-block;
	padding:0 20px;
	font-family:'Source Sans Pro',sans-serif;
	font-size:24px;
	font-weight:300;
	color:#fff;
	line-height:50px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	text-transform:uppercase;
}
.flx-menu-toggle.active {
	background-color:#7aa200;
}

#toggle-view-menu h3 {
	font-size: 14px;
	margin: 0;	
	font-family: 'Open Sans', sans-serif;
	float: left;
	line-height: 40px;	
	font-weight: normal;
	padding: 0 15px;
}
#toggle-view-menu h3 a {
	color: #fff;
	width:100%;
	display:block;
}
#toggle-view-menu h3 a:hover {
	color: #7aa200;
}
#toggle-view-menu span {
	float: right;
	color: #333;
	font-size: 26px;
	width: 40px;
	height: 40px;
	font-weight: bold;
	text-align: center;
	color: #7aa200;
	line-height: 40px;
	background-color:rgba(0,0,0,0.3);
}
#toggle-view-menu li.active {
	background-color:#7aa200;
}
#toggle-view-menu li.active span,
#toggle-view-menu li.active h3 a {
	color:#fff;
}
#toggle-view-menu .menu-panel {
	margin: 0px;
	display: none;
	padding: 10px 15px 0;
	font-size: 13px;
	color: #fff;
	background-color:#444;
}
#toggle-view-menu .menu-panel ul {
	margin:0;
}
#toggle-view-menu li .menu-panel ul li {
	border:none;
	list-style:disc inside;
	margin: 0 0 10px 0;
}
#toggle-view-menu .menu-panel ul li a {
	display:inline-block;
	font-family: 'Open Sans', sans-serif;
	color:#fff;
}
#toggle-view-menu .menu-panel ul li a:hover {
	color:#7aa200;
}
#toggle-view-menu .menu-panel ul li ul {
	margin-left:40px;
	margin-top:10px;
}

/*-------------Tabs-----------*/
.list-container-1 {
	border-left: 1px solid #ddd;
}
.list-container-1 ul {
	margin: 0;
}
.list-container-1 ul li {
	list-style: none;
	float: left;
	margin: 0px;
}
.list-container-1 ul li a {
	padding: 10px 15px;
	border-right: 1px solid #ddd;
	border-top: 1px solid #ddd;
	color: #3d3d3d;
	font-size: 14px;
	display: block;
	background-color: #f2f2f2;
	margin-bottom: -1px;
}
.list-container-1 ul li.active a, .list-container-1 ul li:hover a {
	color: #7aa200;
	border-top: 2px solid #7aa200;
	text-decoration: none;
	background-color: #fff;
	padding: 9px 15px 11px;
}
.tab-container-1 {
	border: 1px solid #ddd;
	padding: 20px 15px;
}
.tab-container-1 p {
	font-size: 12px;
	color: #4d4d4d;
	line-height: 20px;
}
.list-container-2 {
}
.list-container-2 ul,
.list-container-4 ul {
	margin: 0;
}
.list-container-2 ul li,
.list-container-4 ul li {
	list-style: none;
	float: left;
	margin: 0px;
}
.list-container-2 ul li a,
.list-container-4 ul li a {
	padding: 10px 15px;
	color: #3d3d3d;
	font-size: 14px;
	display: block;
	background-color: #fff;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	position:relative;
	z-index:0;
}
.list-container-4 ul li a {
	border-radius:0;
	border:1px solid #d2d2d2;
	border-right:none;
	border-bottom:3px solid #b0b0b0;
}
.list-container-4 ul li:last-child a {
	border-right:1px solid #d2d2d2;
} 	
.list-container-4 ul li.active a,
.list-container-4 ul li.active a:hover {
	color:#7aa200;
	border-bottom:3px solid #7aa200;
}	
.list-container-2 ul li.active a, 
.list-container-2 ul li.active:hover a {
	color: #fff;
	text-decoration: none;
	background-color: #7aa200;
}
.list-container-2 ul li:hover a,
.list-container-4 ul li:hover a {
	background-color: #f2f2f2;
	text-decoration: none;
	color: #3d3d3d;
}
.tab-container-2,
.tab-container-4 {
	padding: 20px 0px;
}
.tab-container-2 p,
.tab-container-4 p {
	font-size: 12px;
	color: #4d4d4d;
	line-height: 20px;
}

/* =========================================================
**************************Footer****************************
============================================================ */
#flx-footer {
	background-color: #141414;
	padding: 10px 0 25px;
}
#copyright {
	color: #fff;
	margin: 0;
	text-align: center;
}
#copyright a {
	color: #7aa200;
	font-weight: bold;
}
.social-links {
	margin: -30px 0 15px 0;
	display: inline-block;
	*display:inline;
	zoom:1;
}
.social-links li {
	list-style: none;
	float: left;
	margin: 0;
	border: 6px solid #141414;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	position:relative;
	z-index:0;
	background-color: #262626;
	width:51px;
	height:51px;	
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.social-links li a {
	width:100%;
	height:100%;
	display:block;
	opacity:0.5;
	filter: alpha(opacity=50);
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.social-links li.flx-twitter-icon a {	
	background:url(../images/icons/twitter-icon.png) no-repeat center center;
}
.social-links li.flx-facebook-icon a {	
	background:url(../images/icons/facebook-icon.png) no-repeat center center;
}
.social-links li.flx-skype-icon a {	
	background:url(../images/icons/skype-icon.png) no-repeat center center;
}
.social-links li.flx-youtube-icon a {	
	background:url(../images/icons/youtube-icon.png) no-repeat center center;
}
.social-links li.flx-pinterest-icon a {
    background:url(../images/icons/pinterest-icon.png) no-repeat center center;
}
.social-links li.flx-dribbble-icon a {
    background:url(../images/icons/dribbble-icon.png) no-repeat center center;
}
.social-links li.flx-linkedin-icon a {
    background:url(../images/icons/linkedin-icon.png) no-repeat center center;
}
.social-links li.flx-gplus-icon a {
    background:url(../images/icons/gplus-icon.png) no-repeat center center;
}
.social-links li.flx-twitter-icon:hover {
	background-color:#00b6f3;
}
.social-links li.flx-facebook-icon:hover {
	background-color:#3b5998;
}
.social-links li.flx-skype-icon:hover {
	background-color:#379ddc;
}
.social-links li.flx-youtube-icon:hover {
	background-color:#af2b26;
}
.social-links li.flx-pinterest-icon:hover {
    background-color:#ca2128;
}
.social-links li.flx-dribbble-icon:hover {
    background-color:#ea4c89;
}
.social-links li.flx-linkedin-icon:hover {
    background-color:#0073b2;
}
.social-links li.flx-gplus-icon:hover {
    background-color:#dd4c39;
}
.social-links li:hover a {
	opacity:1;
	filter: alpha(opacity=100);
}

.flickrbox {
	width:100%;
	border-top:1px solid #333;
	border-bottom:1px solid #333;
	padding:10px 0;
	margin-bottom:20px;
	text-align:left;
	}
.flickrbox h5 {
	line-height:40px;
	border-right:1px solid #333;
	display:inline;
	padding-right:10px;
	}
.footer-menu {
	list-style:none;
	margin:0;
	display:inline-block;
	*display:inline;
	zoom:1;
}
.footer-menu li {
	list-style:none;
	margin:0 25px 0 0;
	float:left;
}
.footer-menu li:last-child {
	margin-right:0;
}	
.footer-menu li a {
	font-size:13px;
	color:#515151;
	font-family: 'Source Sans Pro', sans-serif;
/*	text-transform:uppercase; */
}
.footer-menu li a:hover {
	color:#7aa200;
}
#flx-footer .widget .widget-title {
	font-size:16px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:700;
	text-transform:uppercase;
}
#flx-footer .widget .contact-info {
	color:#8c8c8c;
	margin:0;
}
#flx-footer .widget .contact-info li {
	color:#8c8c8c;
	margin:0;
}
#flx-footer .widget .contact-info li {
	color:#8c8c8c;
	margin:0;
	list-style:inside disc;
	font-size:10px;
}
#flx-footer .widget .contact-info li strong {
	font-weight:normal;
	width:70px;
	display:inline-block;
	*display:inline;
	zoom:1;
	font-size:14px;
}
#flx-footer .widget .contact-info li span,
#flx-footer .widget .contact-info li a {
	color:#515151;
	font-size:14px;
}
#flx-footer .widget .contact-info li a:hover {
	color:#7aa200;
}
#flx-footer .widget ul,
#flx-footer .widget ul li {
	margin:0 0 5px 0;
	list-style:none;
	color:#515151;
	font-size:14px;
	font-family: 'Source Sans Pro', sans-serif;
}
#flx-footer .widget ul li a {
	color:#515151;
}
#flx-footer .widget ul li a:hover {
	color:#7aa200;
}

#flx-footer .widget .tweet_list li {
	padding-bottom:15px;
	border-bottom:1px dotted #515151;
	margin:0 0 15px 0;
}
#flx-footer .widget .tweet_list li:last-child {
	padding-bottom:0;
	border-bottom:none;
	margin:0;
}
#flx-footer .widget .tweet_list li a {
	color:#b0b0b0;
}
#flx-footer .widget .tweet_list li .tweet_avatar {
	background:url(images/icons/footer-twitter-icon.png) no-repeat 0 0;
	width:18px;
	height:15px;
	display:inline-block;
	*display:inline;
	zoom:1;
	margin-right:5px;
}
#flx-footer .widget .tweet_list li .tweet_avatar img {
	display:none;
}
#footer-bottom {
	border-top:1px solid #272727;
	padding-top:25px;
	margin-top:80px;
}
#footer-logo {
	text-align:center;
	margin-top:-24px;
	margin-bottom:15px;
}
#footer-logo a {
	display:inline-block;
	*display:inline;
	zoom:1;
	padding:0 5px;
	background-color:#141414;
}

/* =========================================================
**************************FAQ Page**************************
============================================================ */
/*------------------ Pagination ---------------------*/
.pagination ul > li > a, .pagination ul > li > span {
	padding:10px 15px ;
}
.tab-highlight {
	background: url("../images/background/hight-light-arrow.png") no-repeat scroll left top transparent;
	height: 52px;
	left: 0;
	position: absolute;
	top: 0;
	width: 206px;
	z-index: 100;
}
.flx-boom .tab-highlight {
	top: 35px;
	left: -1px;
}
.list-container-3 {
	width: 195px;
	position: relative;
	z-index: 99;
}
.list-container-3 ul {
	margin: 0;
	border-left: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
}
.list-container-3 ul li {
	list-style: none;
	padding: 10px 15px;
	background-color: #f7f7f7;
	position: relative;
	height: 30px;
	cursor:pointer;
}
.list-container-3 ul li:first-child {
	border-top: 1px solid #d9d9d9;
}
.list-container-3 ul li:last-child {
	border-bottom: 1px solid #d9d9d9;
}
.list-container-3 ul li a {
	color: #414141;
	font: 300 16px/20px 'Source Sans Pro', sans-serif;
	display: inline-block;
	*display:inline;
	zoom:1;
	line-height: 28px;
	position: relative;
	z-index: 101;
}
.list-container-3 ul li:hover a, .list-container-3 ul li.active a {
	color: #7aa200;
	text-decoration: none;
}
.list-container-3 ul li a i {
	margin-right: 5px;
	font-size: 16px;
}

/* =========================================================
**************************Service Page**********************
============================================================ */
.entry-item {
	margin-bottom: 15px;
}
.entry-item .entry-content p {
	color: #404040;
	font-size: 12px;
	line-height: 20px;
}
.entry-item .entry-content .flx-more-link {
	margin-top: 10px;
}
.flx-services {
	margin: 0 -10px;
}
.flx-services li {
	float: left;
	list-style: none;
	margin: 10px;
	width: 313px;
}
.flx-services li article {
	text-align: center;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	position:relative;
	z-index:0;
	color: #404040;
	font-size: 12px;
	line-height: 20px;
	background-color: #fff;
	padding: 30px 0 20px;
	-webkit-transition: background .5s ease-in-out;
	-moz-transition: background .5s ease-in-out;
	-ms-transition: background .5s ease-in-out;
	-o-transition: background .5s ease-in-out;
	transition: background .5s ease-in-out;
}
.flx-services li [class^="icon-"], .flx-services li [class*=" icon-"] {
	font-size: 56px;
	max-height: 100px;
	color: #3d3d3d;
}
.flx-services li:hover [class^="icon-"], .flx-services li:hover [class*=" icon-"] {
	color: #7aa200;
	text-shadow: 0px 0px 10px #FFFFFF;
	-webkit-transform: rotate(360deg) scale(1.5);
	-moz-transform: rotate(360deg) scale(1.5); 
	-o-transform: rotate(360deg) scale(1.5); 
	-ms-transform: rotate(360deg) scale(1.5); 
	transform: rotate(360deg) scale(1.5);
}
.flx-services li article:hover {
	background-color: #f3f3f3;
}
.flx-services li article .entry-title {
	font-size: 20px;
	margin-bottom: 5px;
}
.flx-services li article .entry-title a {
	color: #7aa200;
}
/*---------Carousel-----------*/
.logo-widget {
	position: relative;
	margin-bottom: 80px;
	overflow:hidden;
}
.logo-widget .widget-title {
	font-size: 30px;
	font-weight: 300;
	color: #474747;
	margin-bottom: 30px;
}
.list-carousel.responsive {
	width: auto;
	margin: 0 -10px;
}
.logo-widget .list-carousel.responsive {
	margin:0 -20px;
}
.home-page .logo-widget .list-carousel.responsive {
	margin:0 -15px;
}
.list-carousel > ul {
	display: block;
	height: 100%;
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
.list-carousel ul li {
	display: block;
	float: left;
	margin: 0 10px;
	padding: 0;
}
.caroufredsel_wrapper {
	margin:0 !important;
}
.list-carousel #flx-team-slides > li {
	width: 230px;
}

.list-carousel #flx-slides li,
.list-carousel #flx-slides-2 li {
	background-color: #efefef;
	text-align: center;
	width: 160px;	
}
.list-carousel #flx-slides li {
	margin:0 20px;
}
.list-carousel #flx-slides-2 li {
	margin:0 15px;
}
.list-carousel #flx-slides li a,
.list-carousel #flx-slides-2 li a {
	display: block;
	position: relative;
	width:100%;
}
.list-carousel #flx-slides li img.flx-logo-default,
.list-carousel #flx-slides-2 li img.flx-logo-default {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	z-index: 1;
	width:100%;
}
.list-carousel #flx-slides li img.flx-logo-hover,
.list-carousel #flx-slides-2 li img.flx-logo-hover {
	display: block;
	width: 100%;
	opacity: 0;
	filter: alpha(opacity=0);
}

.flx-recent-post {
	position:relative;
	margin:-15px 0 50px 0;
	border-bottom:1px dotted #d0d0d0;
	padding-bottom:45px;
	padding-top:75px;
	overflow:hidden;
}
.flx-recent-post .list-carousel .carousel-nav {
	left:50%;
	margin-left:-45px;
	top:0;
}
.flx-recent-post .list-carousel .carousel-next, .flx-recent-post .list-carousel .carousel-prev {
	height: 38px;
	width: 43px;
	border:1px solid #ddd;
}
.flx-recent-post .list-carousel .carousel-next {
	margin-left:-1px;
	border-radius:0 5px 5px 0;
	-moz-border-radius:0 5px 5px 0;
	-webkit-border-radius:0 5px 5px 0;
	position:relative;
	z-index:0;
	background: url(images/slider/big-carousel-next.png) no-repeat center center;
}
.flx-recent-post .list-carousel .carousel-prev {
	border-radius:5px 0 0 5px;
	-moz-border-radius:5px 0 0 5px;
	-webkit-border-radius:5px 0 0 5px;
	position:relative;
	z-index:0;
	background: url(images/slider/big-carousel-prev.png) no-repeat center center;
}
.flx-recent-post .list-carousel .carousel-next:hover {
	background: url(images/slider/big-carousel-next-hover.png) no-repeat center center;
}
.flx-recent-post .list-carousel .carousel-prev:hover {
	background: url(images/slider/big-carousel-prev-hover.png) no-repeat center center;
}
.flx-recent-post .list-carousel.responsive,
.flx-related-post .list-carousel.responsive {
	margin:0 -15px;
}
.list-carousel #flx-slides-3 li {
	width:220px;
	margin:0 15px;
}
.list-carousel #flx-slides-3 li .flx-recent-post-thumb {
	display:block;
	padding:6px;
	background-color:#f5f5f5;
	margin-bottom:10px;
	position:relative;
}
.list-carousel #flx-slides-3 li .flx-recent-post-thumb .mask {
    background: url("../images/background/bg-blog-thumb.png") no-repeat scroll center center / 0 0 rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0);
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.2s ease-in-out 0s;
    width: 100%;
	margin:0;
}
.list-carousel #flx-slides-3 li .flx-recent-post-thumb:hover .mask {
    background: url("../images/background/bg-blog-thumb.png") no-repeat scroll center center / 48px 48px rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    height: 85.5%;
    left: 5%;
    top: 6.5%;
    width: 89%;
}
.flx-related-post .list-carousel #flx-slides-3 li .flx-recent-post-thumb:hover .mask {
    height: 82%;
    left: 6%;
    top: 7%;
    width: 87.5%;
}
.list-carousel #flx-slides-3 li .entry-content a {
	color:#474747;
	font-size:14px;
	display:block;
}
.list-carousel #flx-slides-3 li .entry-content a:hover {
	color:#7aa200;
}
.list-carousel #flx-slides-3 li .entry-content .flx-entry-date {
	font-size:11px;
	color:#8e8e8e;
	font-family:Arial, Helvetica, sans-serif;
	display:block;
	margin-bottom:3px;
}
.list-carousel #flx-slides-3 li .entry-content p {
	color:#474747;
}

.list-carousel .carousel-nav {
	position: absolute;
	top: 20px;
}
.logo-widget .list-carousel .carousel-nav {
	top: 10px;
}
.list-carousel .carousel-next, .list-carousel .carousel-prev {
	cursor: pointer;
	display: block;
	float: left;
	height: 21px;
	text-indent: -9999px;
	width: 21px;
	z-index: 10;
	outline: none;
}
.list-carousel .carousel-next {
	background: url(../images/slider/carousel-next.png) no-repeat center center #fff;
}
.list-carousel .carousel-prev {
	background: url(../images/slider/carousel-prev.png) no-repeat center center #fff;
}
.list-carousel .carousel-next:hover {
	background: url(../images/slider/carousel-next-hover.png) no-repeat center center #efefef;
}
.list-carousel .carousel-prev:hover {
	background: url(../images/slider/carousel-prev-hover.png) no-repeat center center #efefef;
}
.carousel-nav-2 {
	height: 56px;
	text-align: center;
	margin: 50px 10px;
	background: url(../images/background/line-1.gif) repeat-x 0 center;
}
.carousel-prev-2 {
	float: left;
	line-height: 52px;
}
.carousel-prev-2 .icon-2x{
	margin:0;
	padding:0 0 0 0;
}
.carousel-next-2 {
	float: right;
	line-height: 52px;
}
.carousel-prev-2 i, .carousel-next-2 i {
	background: #f2f2f2;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	position:relative;
	z-index:0;
}
.logo-widget .list-carousel .carousel-nav {
	left:150px;
}
/*---------Page bottom-----------*/
.page-bottom {
	background-color: #141414;
	border-bottom:1px solid #272727;
	padding-bottom:20px;
}
/* =========================================================
**************************About Page************************
============================================================ */
.flx-meet-team {
	position: relative;
}
.flx-team {
	text-align: center;
}
.flx-team .team-avatar {
	display: block;
	width: 100%;
}
.flx-team .team-avatar img {
	display: inline-block;
	*display:inline;
	zoom:1;
	width: 100%;
	height: auto;
}
.about-social-link {
    width: 100%;
    display: inline-block;
    *display:inline;
    zoom:1;
    margin-top: 6%;
}
.about-social-link li {
	float: left;
	list-style: none;
	padding: 0 5px;
	margin: 0;
}
.about-social-link li a {
	display: block;
}
.about-social-link [class*="icon-"], 
.about-social-link [class^="icon-"] {
	font-size: 19px;
	color: #505050;
	margin-right: 2.5%;
	margin-left: 2.5%;
}
.about-social-link [class*="icon-"]:hover, 
.about-social-link [class^="icon-"]:hover {
	color: #CACACA;
} 

.flx-team h5 {
	color: #7aa200;
	font-size: 18px;
	margin: 0;
}
.flx-team h5 a {
	color: #7aa200;
}
.flx-team span {
	color: #8f8f8f;
}
/*---------Skill bar-----------*/
.flx-skill-box {
	background-color: #f6f6f6;
	border-top: 6px solid #F0F0F0;
}
#flx-skill {
	list-style: none;
	margin: 0;
}
#flx-skill li {
	margin-bottom: 30px;
	position:relative;
}
#flx-skill li div {
	height: 17px;
	float: left;
	width: 730px;
	position: relative;
	margin:0 !important;
}
#flx-skill li p.flx-skill-title {
	float: left;
	width: 150px;
	font-size: 16px;
	color: #414141;
	text-shadow: 0 1px 0 #fff;
}
#flx-skill li p.flx-skill-number {
	float: left;
	position:absolute;
	top:0;
	right:0px;
	font-size: 14px;
	color: #414141;
	text-align: right;
}

.flx-boom {
	border: 1px solid #d9d9d9;
	height: 400px;
	margin-bottom: 100px;
}
.flx-boom .list-container-3 {
	float: left;
	background-color: #f7f7f7;
	width: 19.6939%; /*183*/
	height: 100%;
	border-right: 1px solid #d9d9d9;
}
.flx-boom .list-container-3 ul {
	padding-top: 35px;
	border-left: none;
	border-right: none;
}
.flx-boom .list-container-3 ul li:last-child {
	border-bottom: none;
}
.flx-boom .tab-container-3 {
	float: left;
	width: 80%; /*784px*/
	position: relative;	
}
.flx-boom .jp-container {
	height: 364px;
}
.tab-content-3 {
	padding:0 40px;
}
.flx-boom .tab-container-3 h3 {
	margin: 30px 0 15px;
}
.flx-boom .tab-container-3 p {
	font-size: 12px;
	color: #4d4d4d;
	line-height: 20px;
}
.flx-boom .tab-container-3 .boom-list li {
	font-size: 12px;
}
.flx-boom .tab-container-3 .boom-list li i {
	color: #4d4d4d;
	margin-right: 5px;
	font-size: 10px;
}

/* =========================================================
**************************Blog Page*************************
============================================================ */
.flx-entry-item {
	margin-bottom:0;
}
.flx-entry-item .flx-entry-thumb,
.flx-entry-box .flx-entry-thumb {
	position:relative;
	margin-bottom:25px;
}
.flx-entry-item .flx-entry-thumb audio {
	width:100%;
	height:30px;
}
.flx-entry-item .flx-entry-thumb video {
	width:100%;
	height:410px;
}
.flx-entry-item .flx-entry-thumb .mejs-container,
.flx-entry-item .flx-entry-thumb .mejs-poster {
	width:100% !important;
}
.flx-entry-item .flx-entry-thumb .mask {
	border:1px solid rgba(255, 255, 255, 0);
	position:absolute;
	display:block;
	height:100%;
	width:100%;
	top:0;
	left:0;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	background:url(../images/background/bg-blog-thumb.png) no-repeat rgba(255, 255, 255, 0);
	background-position: center center;
	background-size:0 0;
	}
.flx-entry-item .flx-entry-thumb:hover .mask {
	width:96%;
	height:90%;
	top:5%;
	left:2%;
	border:1px solid rgba(255, 255, 255, .5);
	background:url(../images/background/bg-blog-thumb.png) no-repeat rgba(255, 255, 255, .2);
	background-position: center center;
	background-size:48px 48px;
}
.flx-entry-item .flx-entry-thumb .audio-mask {
	border:1px solid rgba(255, 255, 255, 0);
	position:absolute;
	display:block;
	height:100%;
	width:100%;
	top:0;
	left:0;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	background:url(../images/background/bg-blog-thumb.png) no-repeat rgba(255, 255, 255, 0);
	background-position: center center;
	background-size:0 0;
	}
.flx-entry-item .flx-entry-thumb:hover .audio-mask {
	width:96%;
	height:90%;
	top:5%;
	left:2%;
	border:1px solid rgba(255, 255, 255, .5);
	background:url(../images/background/bg-blog-thumb.png) no-repeat rgba(255, 255, 255, .2);
	background-position: center center;
	background-size:48px 48px;
}
.inline-content {
	display:none;
}
.pp_inline audio {
	width:100%;
	height:30px;
} 	
.flx-entry-item .flx-entry-thumb .flx-entry-date {
	padding:0px 20px 5px;
	background-color:#7aa200;
	display:inline-block;
	*display:inline;
	zoom:1;
	position:absolute;
	z-index:9;
	top:15px;
	left:0;
	color:#fff;
	font-family: 'Source Sans Pro', sans-serif;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	 transition: all .2s ease-in-out;
}
.flx-audio-item {
	margin-top:110px;
    min-height:620px;
}
.flx-entry-item.flx-audio-item .flx-entry-thumb .flx-entry-date {
	top:-65px;
}
.flx-entry-item.flx-audio-item .flx-entry-thumb:hover .flx-entry-date {
	top:-55px;
}
.flx-entry-item .flx-entry-thumb:hover .flx-entry-date {
	top:25px;
}
.flx-entry-item .flx-entry-date p {
	float:left;
	margin:0 10px 0 0;
	font-weight:800;
	font-size:50px;	
	line-height:1;
}
.flx-entry-item .flx-entry-date span {
	float:left;
	font-size:15px;
	font-weight:300;
	text-transform:uppercase;
	display:block;
	margin-top:7px;
}
.flx-entry-item .flx-entry-date span strong {
	display:block;
	font-size:20px;
}
.flx-entry-item .flx-entry-content .flx-entry-author {
	float:left;
	margin-right:40px;
	text-align:center;
}
.flx-entry-item .flx-entry-content .flx-entry-author img {
	display:inline-block;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	position:relative;
	z-index:0;
	border:3px solid #e7e7e7;
	padding:3px;
	background-color:#fff;
	margin-bottom:5px;
	width:50px;
	height:50px;
}
.flx-entry-item .flx-entry-content .flx-entry-author a {
	display:block;
	text-align:center;
	color:#4d4d4d;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}
.flx-entry-item .flx-entry-content .flx-entry-author a:hover {
	color:#7aa200;
}
.flx-entry-item .flx-entry-detail {
	float:left;
	width:579px;
}
.flx-entry-item.bs-2 .flx-entry-detail {
	float:none;
	width:100%;
}
.flx-entry-item .flx-entry-title {
	font-size:30px;
	font-family: 'Source Sans Pro', sans-serif;
	margin-bottom:20px;
}
.flx-entry-item .flx-entry-title a:hover {
	color:#303030;
}
.flx-entry-item .flx-entry-meta {
	padding:5px 10px;
	background-color:#f5f5f5;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	position:relative;
	z-index:0;
	margin-bottom:20px;
}
.flx-entry-item .flx-entry-meta .flx-entry-categories,
.flx-entry-item .flx-entry-meta .flx-entry-author,
.flx-entry-item .flx-entry-meta .flx-entry-date {
	margin-right:40px;
}
.flx-entry-item .flx-entry-meta .flx-entry-categories a,
.flx-entry-item .flx-entry-meta .flx-entry-tags a,
.flx-entry-item .flx-entry-meta .flx-entry-author a {
	font-size:11px;
	color:#414141;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	text-transform: capitalize;
}
.flx-entry-item .flx-entry-meta .flx-entry-categories a:hover,
.flx-entry-item .flx-entry-meta .flx-entry-tags a:hover,
.flx-entry-item .flx-entry-detail p .flx-read-more:hover {
	color:#7aa200;
}
.flx-entry-item .flx-entry-meta .flx-entry-categories i,
.flx-entry-item .flx-entry-meta .flx-entry-tags i,
.flx-entry-item .flx-entry-meta .flx-entry-author i,
.flx-entry-item .flx-entry-meta .flx-entry-date i {
	margin-right:10px;
}
.flx-entry-item .flx-entry-meta .flx-entry-date,.flx-entry-categories{
	font-size:11px;
	color:#414141;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}
.flx-entry-item.bs-2 .flx-entry-meta .flx-entry-tags,
.flx-entry-item.bs-2 .flx-entry-meta .flx-entry-categories {
	float:right;
}
.flx-entry-item .flx-entry-detail p, 
.flx-entry-item .flx-entry-detail p a {
	font-size:12px;
	line-height:22px;
}
.flx-entry-item .flx-entry-detail p a {
	color:#7aa200;
}
.flx-entry-item .flx-entry-detail p a:hover {
	color:#303030;
}	
.flx-gallery {
	display:block;
	width:32px;
	height:55px;
	background-color:#dc4800;
	color:#fff;
	text-align:center;
	position:absolute;
	left:-32px;
	top:20px;
}
.flx-audio-item .flx-gallery {
	top:-60px;
}
.flx-gallery:hover {
	color:#fff;
}
.flx-gallery .icon-2x {
	font-size:1.25em;
	margin-top:18px;
	display:block;
}
.flx-entry-box .flx-gallery {
	top:0;
	left:0;
}
.flx-entry-item.bs-3 .flx-entry-thumb {
	float:left;
	margin-right:20px;
	width:230px;
	height:230px;
}
.flx-entry-item.bs-3 .flx-entry-thumb img {
	width:100%;
	height:100%;
}
.flx-entry-item.bs-3 .flx-entry-thumb iframe {
	width:100% !important;
	height:100% !important;
}
.flx-entry-item.bs-3 .flx-entry-content {
	float:left;
	width:478px;
}
.flx-entry-item.bs-3 .flx-entry-title {
	margin-top:0;
}
.flx-entry-item.bs-3 .flx-entry-meta .flx-entry-categories,
.flx-entry-item.bs-3 .flx-entry-meta .flx-entry-author,
.flx-entry-item.bs-3 .flx-entry-meta .flx-entry-date {
	margin-right:10px;
}
.flx-entry-item.bs-3 .flx-entry-content .flx-entry-author,
.flx-entry-item.bs-2 .flx-entry-meta .flx-entry-categories {
	float:none;
}
.flx-entry-item.bs-3 .flx-entry-content .flx-entry-author a {
	display:inline-block;
	*display:inline;
	zoom:1;
}
.flx-entry-item.bs-3 .flx-entry-thumb video {
	height:100%;
	display:block;
}

.flx-entry-item.bs-4 .flx-entry-thumb img,
.flx-entry-item.bs-4 .flx-entry-thumb iframe,
.flx-entry-item.bs-4 .flexslider .slides img {
	width:100%;
}
.flx-entry-item.bs-4 .flx-entry-thumb img {
	height:100%;
}


/*--------- Top button ----------*/
#back-top {
	position: fixed;
	bottom: 0;
	right:10px;
	width:50px;
	height:50px;
	display:none;
	z-index:9999;
}
#back-top a {
	display:block;
	height:100%;
	line-height:50px;
	background: #404040 url(../images/background/up-arrow.png) no-repeat center 17px;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	transition: .3s;
	border-radius:10%;
	-moz-border-radius:10%;
	-webkit-border-radius:10%;
	position:relative;
	z-index:0;
	font-weight:bold;
	color:#FFF;
	text-indent: 100px;
	overflow:hidden;
	font: Arial, Helvetica, sans-serif;
	text-align: center;
	text-decoration: none;
}
#back-top a:hover {
	background-color: #7aa200;
	background-position:center -50px;
	text-indent:0;
}


/*===============Progress Bars===================*/

.progress-bar {
	height: 17px;
	margin:30px 0;
	position: relative;
	-moz-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 1), inset 3px 3px 5px 3px rgba(0, 0, 0, .05);
	-webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 1), inset 5px 5px 5px 5px rgba(0, 0, 0, .05);
	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 1), inset 3px 3px 5px 3px rgba(0, 0, 0, .05);
	background-color: #ededed;
	border:1px solid #dcdcdc;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	z-index:0;
}
.progress-bar > span {
	display: block;
	height: 19px;
	top:-1px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: rgb(43,194,83);
	background-image: -webkit-gradient(  linear,  left bottom,  left top,  color-stop(0, rgb(43,194,83)),  color-stop(1, rgb(84,240,84))  );
	background-image: -moz-linear-gradient(  center bottom,  rgb(43,194,83) 37%,  rgb(84,240,84) 69%  );
	-webkit-box-shadow: inset 0 2px 9px rgba(255,255,255,0.3),  inset 0 -2px 6px rgba(0,0,0,0.4);
	-moz-box-shadow: inset 0 2px 9px rgba(255,255,255,0.3),  inset 0 -2px 6px rgba(0,0,0,0.4);
	box-shadow: inset 0 2px 9px rgba(255,255,255,0.3),  inset 0 -2px 6px rgba(0,0,0,0.4);
	position: relative;
	overflow: hidden;
	z-index:0;
}
.progress-bar > span:after, .animate > span > span {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-image: -webkit-gradient(linear, 0 0, 100% 100%,  color-stop(.25, rgba(255, 255, 255, .2)),  color-stop(.25, transparent), color-stop(.5, transparent),  color-stop(.5, rgba(255, 255, 255, .2)),  color-stop(.75, rgba(255, 255, 255, .2)),  color-stop(.75, transparent), to(transparent)  );
	background-image: -moz-linear-gradient(  -45deg,  rgba(255, 255, 255, .2) 25%,  transparent 25%,  transparent 50%,  rgba(255, 255, 255, .2) 50%,  rgba(255, 255, 255, .2) 75%,  transparent 75%,  transparent  );
	z-index: 1;
	-webkit-background-size: 50px 50px;
	-moz-background-size: 50px 50px;
	background-size: 50px 50px;
	-webkit-animation: move 2s linear infinite;
	-moz-animation: move 2s linear infinite;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color:#fff;
	text-shadow:0 1px 0 rgba(0,0,0,.1);
	text-align:right;
}
.animate > span:after {
	display: none;
}
 @-webkit-keyframes move {
 0% {
 background-position: 0 0;
}
 100% {
 background-position: 50px 50px;
}
}
 @-moz-keyframes move {
 0% {
 background-position: 0 0;
}
 100% {
 background-position: 50px 50px;
}
}
.orange > span {
	background-color: #ff5300;
	background-image: -webkit-gradient(  linear,  left bottom,  left top,  color-stop(0, rgb(226,28,0)),  color-stop(1, rgb(255,83,0))  );
	background-image: -moz-linear-gradient(  center bottom,  rgb(226,28,0) 37%,  rgb(255,83,0) 69%  );
}
.red > span {
	background-color: #ff0000;
	background-image: -webkit-gradient(  linear,  left bottom,  left top,  color-stop(0, rgb(196,0,0)),  color-stop(1, rgb(255,0,0))  );
	background-image: -moz-linear-gradient(  center bottom,  rgb(196,0,0) 37%,  rgb(255,0,0) 69%  );
}
.blue > span {
	background-color: #00c6ff;
	background-image: -webkit-gradient(  linear,  left bottom,  left top,  color-stop(0, rgb(0,134,196)),  color-stop(1, rgb(0,198,255))  );
	background-image: -moz-linear-gradient(  center bottom,  rgb(0,134,196) 37%,  rgb(0,198,255) 69%  );
}
.pink > span {
	background-color: #e8005d;
	background-image: -webkit-gradient(  linear,  left bottom,  left top,  color-stop(0, rgb(190,0,76)),  color-stop(1, rgb(246,0,99))  );
	background-image: -moz-linear-gradient(  center bottom,  rgb(190,0,76) 37%,  rgb(246,0,99) 69%  );
}

.gray > span {
	background-color: #3f3f3f;
	background-image: -webkit-gradient(  linear,  left bottom,  left top,  color-stop(0, rgb(63,63,63)),  color-stop(1, rgb(246,0,99))  );
	background-image: -moz-linear-gradient(  center bottom,  rgb(63,63,63) 37%,  rgb(108,108,108) 69%  );
}

.nostripes > span > span, .nostripes > span:after {
	-webkit-animation: none;
	-moz-animation: none;
	background-image: none;
}

/* =========================================================
*******************Portfolio Detail Page********************
============================================================ */
.pf-detail-box {
	background:#efefef url(../images/background/patterns/18.jpg);
	padding:70px 0 90px;
	position:relative;
	-moz-box-shadow: inset 0 0 5px 5px rgba( 0,0,0,.2 );
	-webkit-box-shadow: inset 0 0 5px 5px rgba( 0,0,0,.2 );
	box-shadow: inset 0 0 5px 5px rgba( 0,0,0,.2 );
	margin-bottom:10px;
}
.pf-list-style .pf-detail-box {
	margin-bottom:20px;
	padding:40px 0;
}
.pf-detail-img {
	float:left;
	margin-right:30px;
	padding:0 10 10 10px;
	width:580px;
}
.pf-detail-img audio {
    width:100%;
}
.pf-detail-img video {
    width:100%;
}
.pf-content {
	float:left;
	width:400px; /*350px*/
}
.pf-content h3 {
	font-size:25px;
	font-weight:500;
	margin:0 0 15px 0;
	color:#FFF;
}
#main-content .pf-content h3 {color: #7aa200;}

.pf-content p {
	color:#FFF;
	font-size:12px;
	line-height:18px;
	margin-bottom:20px;
}
#main-content .pf-content p {color: #555;}
.pf-detail-meta {
/*	border-top:1px solid #b3b3b3; hans */
	padding-top:20px;
        vertical-align:top;
}
.pf-detail-meta p, .pf-detail-meta div {
	margin-bottom:1px;
}
.pf-meta-label {
	display:inline-block;
	*display:inline;
	zoom:1;
	color:#fff;
	font-size:11px;
	background-color:#7aa200;
	padding:5px 10px;
	width:80px;
	margin-right:1px;
}
.pf-meta-info {
	display:inline-block;
	*display:inline;
	zoom:1;
	background-color:#d6d6d6;
	padding:5px 10px;
	color:#4d4d4d;
	font-size:11px;
	vertical-align: top;
}
.pf-detail-meta div .pf-meta-info {padding-bottom: 4px;}
.pf-meta-info a {
	color:#4d4d4d;
}
.pf-meta-info a:hover {
	color:#7aa200;
}
.pf-meta-info .links li {float: left;}
.pf-detail-nav {
	text-align:center;
	margin-top:30px;
}
.pf-detail-prev,
.pf-detail-next {
	display:block;
	position:absolute;
	bottom:50%;
	margin-bottom:-30px;
	width:50px;
	height:50px;
	border:5px solid #e6e6e6;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	z-index:0;
}
.pf-detail-prev {
	background:url(../images/slider/big-carousel-prev.png) no-repeat center center #fff;
	left:15px;
}
.pf-detail-next {
	background:url(../images/slider/big-carousel-next.png) no-repeat center center #fff;
	right:15px;
}
.pf-detail-prev:hover {
	background:url(../images/slider/big-carousel-prev-hover.png) no-repeat center center #fff;
}
.pf-detail-next:hover {
	background:url(../images/slider/big-carousel-next-hover.png) no-repeat center center #fff;
}
.pf-detail-hide {
	display:block;
	position:absolute;
	bottom:15px;
	left:50%;
	margin-left:-30px;
	width:50px;
	height:50px;
	background:url(../images/slider/pf-detail-hide.png) no-repeat center center #fff;
	border:5px solid #e6e6e6;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	z-index:0;
}
.pf-detail-hide:hover {
	background:url(../images/slider/pf-detail-hide-hover.png) no-repeat center center #fff;
}
.pf-list-style .pf-detail-hide {
	display:none;
}
/* =========================================================
************************Blog Detail Page********************
============================================================ */
.flx-entry-box .flx-entry-content header {
	border-bottom:1px solid #ddd;
	padding-bottom:15px;
	margin-bottom:15px;
}
.flx-entry-box .flx-entry-meta,
.flx-entry-box .flx-entry-date {
	font-style:normal;
}
.flx-entry-box .entry-title {
	margin-bottom:10px;
}
.flx-entry-box .flx-entry-content footer {
	margin-top:20px;
}
.flx-entry-box .flx-entry-content footer .prev-post {
	float:left;
}
.flx-entry-box .flx-entry-content footer .next-post {
	float:right;
}
.flx-entry-box .flx-entry-content footer a {
	color:#7aa200;
	padding:3px 5px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.flx-entry-box .flx-entry-content footer a:hover {
	background:#7aa200;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	position:relative;
	z-index:0;
	color:#FFF;
}
.field-name-field-blog-tag {display: inline-block; vertical-align: top;}
.field-name-field-blog-tag li a {text-transform: capitalize;}
.field-name-field-blog-tag li a:hover, .flx-entry-author:hover {color: #7aa200;}
.field-name-field-blog-tag li {float: left; margin-right: 5px;}
.flx-entry-author {text-transform: capitalize;}

/*===============About Author===================*/
.about-author {
	margin-top:20px;
	background-color: #FAFAFA;
    border-top: 3px solid #E2E2E2;
	padding: 10px 15px 30px;
	position: relative;
}
.about-author img {
	float:left;
	margin-right:15px;
}

.about-author h3 {
	margin:0 0 15px 0;
}
.about-author .username {
	font-size:16px;
	display:block;
	margin-bottom:10px;
	text-transform: capitalize;
}
.about-author .about-social-link {
	position: absolute;
	right: 17px;
	bottom: 10px;
}
.about-author-social{
	display: inline-block;
	position: absolute;
	right: 15px;
	bottom: 0;
}
.about-author-social a i{
	font-size: 150%;
} 
.about-author .author-name {width: 62px; height: 62px; margin-right: 15px; float: left;}
.comment-wrapper .attribution {width: 90px; height: 90px;}
.user-picture {width: 100%; height: 100%;}
.user-picture img {
	max-width: 100%;
	max-height: 100%;	
	-webkit-border-radius: 100px 100px 100px 100px;
	-moz-border-radius: 100px 100px 100px 100px;
	border-radius: 100px 100px 100px 100px;
}

.social-group {
	position: absolute;
	bottom: 10px;
	right: 10px;
}
.social-group [class^="icon-"], .social-group [class*="icon-"] {
	font-size: 18px;
	margin-right: 5px;
}


/*===============Related Post===================*/
.flx-related-post {
	position:relative;
	overflow:hidden;
}
.flx-related-post .list-carousel .carousel-nav {
	top:5px;
	left:150px;
}
/*===============Comments List===================*/

#comments-box {margin:20px 0px;}
#comments .title {display: none;}
.comment .attribution {
	float: left;
	margin-right: 20px;
}
.attribution .user-picture {
	width: 100%;
	height: auto;
}
.attribution .user-picture img {
	width: 100%;
	height:100%;
}
.comment-wrapper .comment-text {
	margin-left:110px;
	border-left:3px solid #e2e2e2;
	background-color:#fafafa;
	padding:15px 20px;
	position:relative;
	z-index:0;
}
.comment-text .content, .comment-text .submitted {
	margin:0 0px 5px 0;
}
.submitted div {display: inline-block;}
.submitted .username {
	display:inline-block;
	*display:inline;
	zoom:1;
	font-size:15px;
	color:#7aa200;
	margin-right:5px;
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: capitalize;
}
.submitted .date-time {
	display:inline-block;
	*display:inline;
	zoom:1;
	font-size:12px;
	color: #777777;
}
.comment-text .content {color: #555555;}
.comment-wrapper .comment {margin-bottom:25px; list-style:none;}
.comment-wrapper .indented {margin-left: 100px;}
	.indented .indented {margin-left: 110px;}
#comments .comment-text .links {
	display: block;
	text-align: right;
}
.comment-text .links li a {
	display:inline-block;
	zoom:1;
	color:#7aa200;
	padding:3px 5px;
	font-size:11px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	text-transform: capitalize;
}
.comment-text .links li a:hover {
	color:#ffffff;
	background:#7aa200;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	position:relative;
	z-index:0;
}
#comment-form .form-text, #comment-form .form-textarea  {
	width: 500px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#comment-form label {
	color: #3D3D3D;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: normal;
}
.form-actions .form-submit {
	background-color: #7aa200;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 18px;
    font-weight: normal;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    margin-right: 10px;
    padding: 10px 25px;
    z-index: 0;
    transition: all 0.3s ease-in-out 0s;
}
.form-actions #edit-preview{
	margin-right: 0;
}
.form-actions .form-submit:hover {background-color: #7aa200;}
#edit-comment-body-und-0-format {display: none;}
.form-actions.form-wrapper{
	padding-bottom: 1em;
	margin-bottom: 0;
}
.comment-pagination {
    float: right;
}
.comment-pagination a, .comment-pagination span {
    padding-left: 15px;
	font-size:16px;
	font-family: 'Source Sans Pro', sans-serif;
}
.comment-pagination .current {
	color:#7aa200;
}
#comments .pagination {
	margin:0 0 20px 0;
}
.flx-boxed {
	background:#f9f9f9;
}
.flx-boxed .flx-wrapper {
	width:1010px;
	margin:0 auto;
	background:#FFF;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.1);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.1);
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}
/* =========================================================
***********************Home style 2 Page********************
============================================================ */
.flx-shadow-1 {
	width:100%;
	height:25px;
	background:url(../images/background/shadow-2.png) no-repeat center 0;
}
.home-style-2 .flx-shadow-1 {
	display:inline-block;
	*display:inline;
	zoom:1;
}
.home-style-2 .flx-boom {
	margin-bottom:40px;
}
.home-style-2 .flx-boom .tab-container-3 {
	width:532px;
}
.home-style-2 .flx-boom .tab-container-3 h3 {
	margin:20px 0 15px;
}
.home-style-2 .home-testimonial h2 {
	font-size:25px;
	color:#7aa200;
}
.home-style-2 .logo-widget .widget-title,
.home-style-3 .logo-widget .widget-title {
	color:#7aa200;
}
.home-style-2 .list-carousel .carousel-nav,
.home-style-3 .list-carousel .carousel-nav {
	left:200px;
}
/*=======CLOUDS ANIMATE========*/
#clouds-animate {
	position:relative;
	top:540px;
}

.clouds-bg1 {
	position: absolute;
	bottom: 0;
	background-repeat: repeat-x;
	background-position: 0 100%;
	width: 100%;
	height: 150px;
	z-index: 999
}
.clouds-bg2 {
	position: absolute;
	bottom: 0;
	background-repeat: repeat-x;
	background-position: 0 100%;
	width: 100%;
	height: 150px;
	z-index: 998;
	opacity:.8
}

/* =========================================================
***********************Home style 3 Page********************
============================================================ */
.home-style-3 .flx-recent-post {
	border-bottom:none;
	padding-bottom:0;
	padding-top:0;
	margin:60px 0 40px;
}
.home-style-3 .flx-recent-post .list-carousel .carousel-nav {
	top:0;
	left:25%;
}
.flx-who img {
	float:left;
	margin-right:10px;
}
.flx-who p {
	line-height:20px;
	font-size:12px;
	color:#3d3d3d;
}

.fullwidthbanner-container{
	width:100% !important;
	position:relative;
	padding:0;
	max-height:500px !important;
	overflow:hidden;
}
.fullwidthbanner ul,
.fullwidthbanner ul li {
	margin:0;
	list-style:none;
}
.rev-link-button {
	position:relative;
	z-index:9999;
	display:block;
}

/* =========================================================
******************Portfolio style carousel Page*************
============================================================ */
.portfolio-carousel {
	position:relative;
	margin-bottom:80px;
	overflow:hidden;
}
.portfolio-carousel .list-carousel {
	margin:0 -5px;
}
.portfolio-carousel .list-carousel ul li {
	margin:0 5px;
	width:185px;
}
.portfolio-carousel .list-carousel .carousel-nav {
	right:0;
}
#flx-pf-slides li .pf-slide-item {
	width:100%;
	position:relative;
	overflow: hidden;
}
.pf-slide-item .mask {
	position:absolute;
	display:block;
	height:100%;
	width:100%;
	top:0;
	left:0;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	background:url(../images/background/bg-portfolio-thumb.png) center center no-repeat rgba(0, 0, 0, 0);
	background-size:0 0;
	z-index:9;
}
.pf-slide-item:hover .mask {
	width:96%;
	height:90%;
	top:4.5%;
	left:1.85%;
	background:url(../images/background/bg-portfolio-thumb.png) center center no-repeat rgba(0, 0, 0, .8);
	background-size:31px 25px;
}
.pf-slide-item img {
   -webkit-transform: scaleY(1);
   -moz-transform: scaleY(1);
   -o-transform: scaleY(1);
   -ms-transform: scaleY(1);
   transform: scaleY(1);
   -webkit-transition: all 0.7s ease-in-out;
   -moz-transition: all 0.7s ease-in-out;
   -o-transition: all 0.7s ease-in-out;
   -ms-transition: all 0.7s ease-in-out;
   transition: all 0.7s ease-in-out;
}
.pf-slide-item .mask h4 {
	opacity:0;
	filter: alpha(opacity=0);
	font-family: 'Source Sans Pro', sans-serif;
	position:absolute;
	color:#fff;
	left:0;
	width:100%;
	text-align:center;
	margin:0;
}
.pf-slide-item:hover .mask h4,
.pf-slide-item:hover .mask .flx-pf-gallery,
.pf-slide-item:hover .mask .flx-pf-detail {
	opacity:1;
	filter: alpha(opacity=100);
}
.pf-slide-item:hover .mask h4 {
	font-size:14px;
	bottom:5px;	
	font-weight:500;
}	
.pf-slide-item .mask .flx-pf-gallery {
	width:31px;
	height:25px;
	opacity:0;
	filter: alpha(opacity=0);
	display:block;
	position:absolute;
	top:50%;
	left:50%;
	margin:-12px 0 0 -15px;
}
.pf-slide-item .mask .flx-pf-detail {
	margin:0;
	padding:0;
	position:static;
	font-family: 'Source Sans Pro', sans-serif;
	color:#fff;
}
.pf-slide-item .mask .flx-pf-detail:hover {
	color:#7aa200;
}
/* =========================================================
************************Contact Page************************
============================================================ */
#webform-component-layout-1 {
    float:left;
    width:40%;
    margin-right: 5%;
}
#webform-component-layout-2 {
    float: left;
    width: 55%;
}
.flx-gooogle-map {
	width:100%;
	height:500px;
	background:#CCC;
	position:relative;
	z-index:1;
}

.flx-gooogle-map .contact-info {
	width:460px;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-195px;
	margin-left:-250px;
	background:rgba(255, 84, 0, .95);
	padding:20px;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-webkit-box-shadow:  0px 0px 20px 0px rgba(0, 0, 0, .4);
	-moz-box-shadow:  0px 0px 20px 0px rgba(0, 0, 0, .4);
    box-shadow:  0px 0px 20px 0px rgba(0, 0, 0, .4);
	color:#FFF;
	font-size:13px;
	font-weight:300;
	z-index:1;
}
.flx-gooogle-map .contact-info h3 {
	display:block;
	border-bottom:1px solid rgba(255, 255, 255,.5);
	text-align:center;
	height:70px;
	margin-bottom:20px;
	}
.flx-gooogle-map .contact-info > i {
	color:rgba(255, 84, 0, .9);
	background:#FFF;
	padding:15px;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	font-size:25px;
	position:absolute;
	z-index:1;
}	
.flx-gooogle-map .contact-info a {
	color:#FFF;
	font-size:22px;
	line-height:40px;
	display: inline-block;
	margin-top: 2%;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.flx-gooogle-map .contact-info h3 a:hover {
	font-size:25px;
}
.flx-gooogle-map .contact-info h5 {
	color:#FFF;
	font-weight:400;
	margin-bottom:10px;
}
.flx-gooogle-map .contact-info p {
	margin-left:20px;
}
.flx-gooogle-map .contact-info p i {
	margin:0 10px -3px 0;
	font-size:20px;}
.flx-map-form {
	margin:-30px 0 80px 0;
	width:960px;
	border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	padding:20px 10px;
	z-index:599;
	position:relative;
	background:#FFF;
}
#map_canvas {
	width: 100%;
	height: 500px;
	overflow: auto;
	position: relative; 
}	
/* FORM CONTACT */
.form-item label {
	color: #3D3D3D;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: normal;
}
.form-text, .form-textarea-wrapper textarea {
	width: 445px;
}
.webform-client-form .form-actions{
    background: none;
    border-top: none;
}
.webform-client-form input.form-text{
    background-color: #F3F3F3;
    border: 1px solid #F3F3F3;
    box-shadow: none;
    color: #979797;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 18px;
    height: 34px;
    line-height: 34px;
    padding: 5px;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
    width:95%;
    z-index: 0;
}
.webform-client-form textarea {
    width:100%;
}
.webform-client-form .form-actions{
    width: 111px;
    height: 44px;
    padding-left: 0;
    overflow: hidden;
    clear: both;
}

/*----------Comment Form-----------*/
#contact-form {
	margin-top:40px;
}
#comments-form,
.flx-comment-left p,
.flx-comment-right p,
#contact-form,
.flx-contact-left p,
.flx-contact-right p {
	width:100%;
}
.flx-comment-left,
.flx-comment-right,
.flx-contact-left,
.flx-contact-right {
	float:left;
}
.flx-comment-left,
.flx-contact-left {
	width:40%;
	margin-right:5%;
}
.flx-comment-right,
.flx-contact-right {
	width:55%;
}
#comment_name,
#comment_email,
#comment_phone,
#contact_name,
#contact_email,
#contact_phone {
	background-color:#f3f3f3;
	border:1px solid #f3f3f3;
	box-shadow:none;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	height:34px;
	line-height:34px;
	padding:4px 2%;
	width:95%;
	font-size:18px;
	color:#979797;
	font-family:'Source Sans Pro', sans-serif;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	position:relative;
	z-index:0;
}
#comment_message,
#contact_message {
	background-color:#f3f3f3;
	border:1px solid #f3f3f3;
	box-shadow:none;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding:20px 2% 4px;
	width:95%;
	height:215px;
	font-size:18px;
	color:#979797;
	font-family:'Source Sans Pro', sans-serif;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	position:relative;
	z-index:0;
}
#comment_name:focus,
#comment_email:focus,
#comment_phone:focus,
#comment_message:focus,
#contact_name:focus,
#contact_email:focus,
#contact_phone:focus,
#contact_message:focus {
	background-color:#f5f5f5;
	border:1px solid #dedede;
}
#comments-form label,
#contact-form label {
	margin-bottom:15px;
	color:#3d3d3d;
	font-size:18px;
	font-family:'Source Sans Pro', sans-serif;
}
.flx-comment-left p,
.flx-comment-right p,
.flx-contact-left p,
.flx-contact-right p {
	position:relative;
}
p.textarea-block i {
	position:absolute;
	top:45px;
	left:15px;
}
#comments-form label.error,
#contact-form label.error {
	position:absolute;
	top:45px;
	right:0;
	color:#7aa200;
	font-style:italic;
}
.comment-button,
.contact-button {
	text-align:right;
}
.comment-button span,
.contact-button span {
	display:inline-block;
	*display:inline;
	zoom:1;
	color:#fff;
	position:relative;
	width:158px;
	height:55px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	z-index:0;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.comment-button span i,
.contact-button span i {
	position:absolute;
	top:10px;
	left:25px;
	cursor:pointer;
	z-index:1;
}
#comments-form #submit-comment,
#contact-form #submit-contact {
	border:none;
	color:#fff;
	font-weight:800;
	font-family:'Source Sans Pro', sans-serif;
	font-size:20px;
	background-color:#191919;
	box-shadow: 0 1px 0 #060606;
	-moz-box-shadow: 0 1px 0 #060606;
	-webkit-box-shadow: 0 1px 0 #060606;
	text-transform:uppercase;
	padding:0 25px 0 0;
	width:158px;
	text-align:right;
	height:55px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	cursor:pointer;
	position:relative;
	z-index:0;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
#comments-form #submit-comment:hover,
#contact-form #submit-contact:hover {
	background-color:#7aa200;
	box-shadow: 0 1px 0 #D74700;
	-moz-box-shadow: 0 1px 0 #D74700;
	-webkit-box-shadow: 0 1px 0 #D74700;
}
/*----------Slider Background-----------*/
.bg-wrapper {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	display:none;
}
.bg-wrapper img {
	display:block;
	width:100%;
}

/* ADD CSS */
.arrange-fields-container-webform-client-form-12--2 {height: auto !important;}
.webform-client-form .webform-layout-box {float: left;}
.webform-client-form #edit-actions--2 {clear: both;}
.webform-layout-box.horiz > *, .webform-layout-box.equal > * {display: block !important;}
.webform-layout-box.horiz > * + * {margin-left: 0;}
#webform-component-layout-1 {margin-right: 20px !important;}

.form-text, .form-textarea-wrapper textarea {
    background-color: #F3F3F3;
    border: 1px solid #F3F3F3;
	box-shadow: none;
    color: #979797;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 18px;
    height: 34px;
    line-height: 34px;
    padding: 5px;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
    z-index: 0;
}
.form-textarea-wrapper textarea {height: 212px;}
.webform-client-form .form-textarea-wrapper #edit-submitted-layout-2-whats-do-you-think--2{
    height:229px;
}
/*==========================================
					fix-user
==========================================*/
#main-content{
	margin-top: 5%;
}
#main-content ul.primary{
	margin:0;
	padding:0;
}
#main-content ul.primary li a{
	display: inline-block;
	margin-bottom: -1px;
	padding:12px 12px 8px 12px;
	border-top-right-radius: 3px;
	-moz-border-top-right-radius:3px;
	border-top-left-radius: 3px;
	-moz-border-top-left-radius:3px; 
	font-size: 14px;
}
#main-content ul.primary ul.primary li.active a{
	border-bottom: 1px solid #fff;
}
.form-item .description{
	margin-top: 20px;
	font-size: 12px;
}
#main-content .form-actions.form-wrapper{
	margin-top: 30px;
}
.pf-detail-box .content .mejs-audio,.mejs-video {
    width: 100% !important;
}
/*=================Responsive======================*/
.media-vimeo-player{
	float: left;
	width: 100%;
}
/*=======fix-ajax-blog=======*/
.flx-entry-box .about-author p{
	padding-bottom: 5px !important;
}
.blog_page {
    margin-bottom: 20px;
}
#block-views-pricing-block .pricing-box {
    float: none;
}
#block-views-pricing-block .pricing-5-col .pricing-box {
    width: auto;
}
#block-views-pricing-block .item_bottom,
#block-views-pricing-block .item_top  {
    display: inline-block;
    width: 20%;
}
#block-views-pricing-block .pricing-5-col {
    text-align: center;
}
.pf-detail-meta .skill-output {
    text-transform: capitalize;
}


.hans-fullscreen-link a { 
   width:100%; 
   height:100%; 
   display:block 
}
table.hvitt a {
  color: #FFF;
}

table.hvitt a.hover {
  color: #7DB425;
}
table.hvitt td {
  color: #FFF;
}


