#theme-option {
    position:fixed;
    top:100px;
    left:-176px;
    z-index:99999;
}
#theme-option .theme-opt-wrapper {
    width:265px;
    background:#FFF;
    border:1px solid #f0f0f0;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    padding:10px 20px 20px 20px;
    float:left;
}
.theme-opt-wrapper p {
    float:left;
    display:block;
    width:100%;
    background:none;
}
.theme-opt-wrapper .btn {
    display:block;
    margin-top:20px;
}	
.theme-opt-wrapper ul {
    margin: 0 0 10px 0;
    padding:0;
    float:left;
}
.theme-opt-wrapper ul li {
    list-style:none;
    float:left;
    margin:0 1px 1px 0;
}
.theme-opt-wrapper ul li a {
    display:block;
    width:32px;
    height:32px;    
    background-size:0 0;
    background-image: url('../images/background/switch-color-active.gif');
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #CCC;

    float:left;
    opacity:1;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.theme-opt-wrapper ul.choose-color a:hover,
.theme-opt-wrapper ul.choose-color a.active { background-size:10px 10px;}

.color.oran 		{ background-color: #7aa200 !important; }
.color.blue 		{ background-color: #2b6088; }
.color.pink 		{ background-color: #e11554; }
.color.green 		{ background-color: #7aa200; }
.color.red	 		{ background-color: #d20000; }
.color.gray	 		{ background-color: #7a7a7a; }
.color.brown	 	{ background-color: #6d4418; }
.color.violet	 	{ background-color: #7322a1; }
.theme-opt-wrapper ul li a:hover {
    opacity:.8;
}
.theme-opt-wrapper select {
    width:100%;
    font-size:11px;
}		
#theme-option .open-close-button {
    width:30px;
    height:40px;
    float:left;
    margin:0;
    background:red;
    display:inline-block;
    *display:inline;
    zoom:1;
    background: #FFF url(../images/icons/setting.png) 7px center no-repeat;
    border-radius:0 2px 2px 0;
    -webkit-border-radius:0 2px 2px 0;
    -moz-border-radius:0 2px 2px 0;
    border:1px solid #f0f0f0;
    margin-left:-1px;
    border-left:0;
}

#m-theme-option {
    float:right;
    width:50px;
    z-inde:99999;
    margin-top:-50px;
    display:none;
    position:relative;
}
#m-theme-option .m-open-close-button {
    width:50px;
    height:50px;
    margin:0;
    display:block;
    zoom:1;
    background: url(../images/icons/setting.png) center center no-repeat;
    z-index:99999;
    position:relative;
    cursor:pointer;
}

#m-theme-option .m-open-close-button.active {
    background-color: #fff;
}

#m-theme-option .theme-opt-wrapper {
    display:none;
    width:300px;
    background:#FFF;
    border:1px solid #f0f0f0;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    padding:10px 20px 20px 20px;
    position:absolute;
    top:50px;
    right:0;
    z-index:99999;
}

.flx-select-layout label{
    display: inline-block;
    width: auto;
    margin-right: 50px;
    margin-bottom: 0px;
    font-size:12px;
    line-height:20px;
}
.flx-select-layout input[type=radio]{
    margin: 0px;
}


.choose-pattern > li > a{
    background-position: center center;
    background-repeat: repeat;
    background-color: transparent;
}

.flx-video-bg {
	background: url(../images/icons/bg-video.png) top left no-repeat !important;
	}
.flx-slider-bg {
	background: url(../images/icons/bg-slide.png) top left no-repeat !important;
	}

